{"a.4.jws+json", <<"{\"alg\":\"Ed25519\"}">>}.
{"a.4.jws+b64", <<"eyJhbGciOiJFZDI1NTE5In0">>}.
{"a.4.txt", <<"Example of Ed25519 signing">>}.
{"a.4.txt+b64", <<"RXhhbXBsZSBvZiBFZDI1NTE5IHNpZ25pbmc">>}.
{"a.4.signing-input", <<"eyJhbGciOiJFZDI1NTE5In0.RXhhbXBsZSBvZiBFZDI1NTE5IHNpZ25pbmc">>}.
{"a.4.sig+hex", <<"53184860b1c6837f4d5422e9400543fd471f3a69c6482ccb159a176242e221b15c72639bfea39bb208f32cab1f270fb836571c520bd8ac41eb45b355d0771901">>}.
{"a.4.sig+b64", <<"UxhIYLHGg39NVCLpQAVD_UcfOmnGSCzLFZoXYkLiIbFccmOb_qObsgjzLKsfJw-4NlccUgvYrEHrRbNV0HcZAQ">>}.
{"a.4.sig+compact", <<"eyJhbGciOiJFZDI1NTE5In0.RXhhbXBsZSBvZiBFZDI1NTE5IHNpZ25pbmc.UxhIYLHGg39NVCLpQAVD_UcfOmnGSCzLFZoXYkLiIbFccmOb_qObsgjzLKsfJw-4NlccUgvYrEHrRbNV0HcZAQ">>}.