{"a.4.jws+json", <<"{\"alg\":\"EdDSA\"}">>}.
{"a.4.jws+b64", <<"eyJhbGciOiJFZERTQSJ9">>}.
{"a.4.txt", <<"Example of Ed25519 signing">>}.
{"a.4.txt+b64", <<"RXhhbXBsZSBvZiBFZDI1NTE5IHNpZ25pbmc">>}.
{"a.4.signing-input", <<"eyJhbGciOiJFZERTQSJ9.RXhhbXBsZSBvZiBFZDI1NTE5IHNpZ25pbmc">>}.
{"a.4.sig+hex", <<"860c98d2297f3060a33f42739672d61b53cf3adefed3d3c672f320dc021b411e9d59b8628dc351e248b88b29468e0e41855b0fb7d83bb15be902bfccb8cd0a02">>}.
{"a.4.sig+b64", <<"hgyY0il_MGCjP0JzlnLWG1PPOt7-09PGcvMg3AIbQR6dWbhijcNR4ki4iylGjg5BhVsPt9g7sVvpAr_MuM0KAg">>}.
{"a.4.sig+compact", <<"eyJhbGciOiJFZERTQSJ9.RXhhbXBsZSBvZiBFZDI1NTE5IHNpZ25pbmc.hgyY0il_MGCjP0JzlnLWG1PPOt7-09PGcvMg3AIbQR6dWbhijcNR4ki4iylGjg5BhVsPt9g7sVvpAr_MuM0KAg">>}.