_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
.erlang.mk.packages.*
ebin
log
ct.coverdata
erl_crash.dump
.rebar
.rebar3
rebar3
_rel
_deps
_plugins
_tdeps
deps
logs
test/ct.cover.spec
/_build
/cover
*.ez
