%%% Copyright (c) Andrew Bennett
%%%
%%% This source code is licensed under the MIT license found in the
%%% LICENSE.md file in the root directory of this source tree.
%%%
%%% % @format
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

% {deps, [
%     {eqwalizer_support,
%         {git_subdir, "https://github.com/WhatsApp/eqwalizer.git", {branch, "main"}, "eqwalizer_support"}}
% ]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [jose]}]}.

{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
        unknown
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    % exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
