{"a.ussk.jwk+json", <<"{\"kty\":\"EC\",\"crv\":\"P-256\",\"x\":\"WKn-ZIGevcwGIyyrzFoZNBdaq9_TsqzGl96oc0CWuis\",\"y\":\"y77t-RvAHRKTsSGdIYUfweuOvwrvDD-Q3Hv5J0fSKbE\",\"d\":\"Hndv7ZZjs_ke8o9zXYo3iq-Yr8SewI5vrqd0pAvEPqg\"}">>}.
{"a.vssk.jwk+json", <<"{\"kty\":\"EC\",\"crv\":\"P-256\",\"x\":\"weNJy2HscCSM6AEDTDg04biOvhFhyyWvOHQfeF_PxMQ\",\"y\":\"e8lnCO-AlStT-NJVX-crhB7QRYhiix03illJOVAOyck\",\"d\":\"VEmDZpDXXK8p8N0Cndsxs924q6nS1RXFASRl6BfUqdw\"}">>}.
{"a.uesk.jwk+json", <<"{\"kty\":\"EC\",\"crv\":\"P-256\",\"x\":\"gI0GAILBdu7T53akrFmMyGcsF3n5dO7MmwNBHKW5SV0\",\"y\":\"SLW_xSffzlPWrHEVI30DHM_4egVwt3NQqeUD7nMFpps\",\"d\":\"0_NxaRPUMQoAJt50Gz8YiTr8gRTwyEaCumd-MToTmIo\"}">>}.
{"a.jwe+json", <<"{\"alg\":\"ECDH-1PU\",\"enc\":\"A256GCM\",\"apu\":\"QWxpY2U\",\"apv\":\"Qm9i\",\"epk\":{\"kty\":\"EC\",\"crv\":\"P-256\",\"x\":\"gI0GAILBdu7T53akrFmMyGcsF3n5dO7MmwNBHKW5SV0\",\"y\":\"SLW_xSffzlPWrHEVI30DHM_4egVwt3NQqeUD7nMFpps\"}}">>}.
{"a.ze+hex", <<"9e56d91d817135d372834283bf84269cfb316ea3da806a48f6daa7798cfe90c4">>}.
{"a.zs+hex", <<"e3ca3474384c9f62b30bfd4c688b3e7d4110a1b4badc3cc54ef7b81241efd50d">>}.
{"a.z+hex", <<"9e56d91d817135d372834283bf84269cfb316ea3da806a48f6daa7798cfe90c4e3ca3474384c9f62b30bfd4c688b3e7d4110a1b4badc3cc54ef7b81241efd50d">>}.
{"a.cek+hex", <<"6caf13723d14850ad4b42cd6dde935bffd2fff00a9ba70de05c203a5e1722ca7">>}.