name: CI

on: [push, pull_request]

env:
  MIX_ENV: test

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: 1.14.2
            otp: 25.2
            lint: true

          - elixir: 1.13.4
            otp: 24.3.4.5

    steps:
      - uses: actions/checkout@v2

      - name: Setup Beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Erlang Tests
        run: |
          make distclean
          make erlang-mk
          make ct

      - name: Retrieve Mix Dependencies Cache
        uses: actions/cache@v1
        id: mix-cache
        with:
          path: deps
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Install Mix Dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Check Formatting
        if: ${{ matrix.lint }}
        run: mix format --check-formatted

      - name: Elixir Tests
        run: mix test

      - name: Logs
        uses: actions/upload-artifact@v2-preview
        if: failure()
        with:
          name: ct-logs-${{matrix.erlang}}
          path: logs/*
